html {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to rigth, #49c518, #23f503);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 50%;
    max-width: 880px;
    min-width: 480px;
    margin: 0 auto;
    background: #ffffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4-x 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333333;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input[type="number"] {
    width: 200px;
    padding: 10px;
    margim-bottom: 10px
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 1.1em;
}

.formulario input[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffffff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario input [type="submit"] :hover {
    background-color: #218838;
}

paragrafosResultado p {
    font-size: 1.2em;
    text-aling:center;
    margin: 10px 0;
}

.ultimoResultsdo {
    color: white;
    padding: 3px;
    boder-radius: 5px;
    font-size: 1.3em;
    texr-aling: center;
}

.ultimoResultado.errado {
    background-color: #dc3545;
}

.ultimoResultado.correto {
    background-color: #28a745;
}

.botaoReniciar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    boder: none;
    boder-radius: 5px;
    font-size:1.2em;
    cursor:pointer;
    transition: background-color 0.3s ease;
}

.botaoReniciar:hover {
    background-color: #0056b3;
}
